<a href="https://colab.research.google.com/github/akshay4n/Quantitaive-Research/blob/main/quantitativeValueStrategy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install xlsxwriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlsxwriter
  Downloading XlsxWriter-3.0.3-py3-none-any.whl (149 kB)
     |████████████████████████████████| 149 kB 14.1 MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.3

In [2]:
#value investing -> investing in the stocks that are cheapest relative to common measures of business values(like earnings or assets)
#import
import numpy as np
import pandas as pd
import xlsxwriter
import math
import requests
from scipy import stats

In [3]:
path = '/content/drive/MyDrive/QuantitativeResearch/EqualWeight_SP500/sp_500_stocks.csv'
stocks = pd.read_csv(path)

In [4]:
%cd /content/drive/MyDrive/QuantitativeResearch/EqualWeight_SP500/
from secrets_imp import IEX_CLOUD_API_TOKEN

/content/drive/MyDrive/QuantitativeResearch/EqualWeight_SP500

In [5]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'avgTotalVolume': 67207022,
 'calculationPrice': 'close',
 'change': -2.76,
 'changePercent': -0.0155,
 'close': 178.65,
 'closeSource': 'offilcia',
 'closeTime': 1707660438693,
 'companyName': 'Apple Inc',
 'currency': 'USD',
 'delayedPrice': 173.59,
 'delayedPriceTime': 1712674559027,
 'extendedChange': -0.77,
 'extendedChangePercent': -0.0046,
 'extendedPrice': 173.45,
 'extendedPriceTime': 1674415634660,
 'high': 181.15,
 'highSource': 'olCes',
 'highTime': 1678624280883,
 'iexAskPrice': None,
 'iexAskSize': None,
 'iexBidPrice': None,
 'iexBidSize': None,
 'iexClose': 176.99,
 'iexCloseTime': 1722344145355,
 'iexLastUpdated': None,
 'iexMarketPercent': None,
 'iexOpen': 179.536,
 'iexOpenTime': 1686420706269,
 'iexRealtimePrice': None,
 'iexRealtimeSize': None,
 'iexVolume': None,
 'lastTradeTime': 1701828741489,
 'latestPrice': 171.62,
 'latestSource': 'Close',
 'latestTime': 'August 19, 2022',
 'latestUpdate': 1716798249242,
 'latestVolume': 71517452,
 'low': 176.71,
 'lowSource': 'dca1 uyli  5eiperdtmeen',
 'lowTime': 1739851499477,
 'marketCap': 2846087508651,
 'oddLotDelayedPrice': 173.18,
 'oddLotDelayedPriceTime': 1682799481420,
 'open': 179.3,
 'openTime': 1690666351155,
 'openSource': 'cfloiaif',
 'peRatio': 28.95,
 'previousClose': 174.84,
 'previousVolume': 64408287,
 'primaryExchange': 'DAAQNS',
 'symbol': 'AAPL',
 'volume': 72152663,
 'week52High': 187.92,
 'week52Low': 131.52,
 'ytdChange': -0.04723355995465533,
 'isUSMarketOpen': False}

In [6]:
price = data['latestPrice']
pe_ratio = data['peRatio']

In [7]:
#batch api calls
def chunks(lst,n):
    for i in range(0,len(lst),n):
        yield lst[i:i+n]

symbol_groups = list(chunks(stocks['Ticker'][1:116],100))
symbol_strings = []
for i in range(0,len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))

my_columns = ['Ticker','Price', 'Price-to-Earnings Ratio','Number of Shares to Buy']

In [8]:
final_df = pd.DataFrame(columns = my_columns)
for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/v1/stock/market/batch?symbols={symbol_string}&types=quote&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_df = final_df.append(
            pd.Series(
                [
                    symbol,
                    data[symbol]['quote']['latestPrice'],
                    data[symbol]['quote']['peRatio'],
                    'N/A'
                ],
                index = my_columns
            ),
            ignore_index=True
        )

final_df

    Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
0      AAL   14.40                    -5.1                     N/A
1      AAP  210.27                   23.34                     N/A
2     AAPL  173.70                   28.73                     N/A
3     ABBV  142.64                   20.58                     N/A
4      ABC  152.64                   18.02                     N/A
..     ...     ...                     ...                     ...
110   COTY    7.80                   43.76                     N/A
111    CPB   52.66                   17.11                     N/A
112   CPRT  129.41                   29.81                     N/A
113    CRM  189.16                  182.38                     N/A
114   CSCO   49.40                   17.77                     N/A

[115 rows x 4 columns]

In [9]:
#remove glamour stocks
final_df.sort_values('Price-to-Earnings Ratio',ascending=False,inplace=True)
final_df = final_df[final_df['Price-to-Earnings Ratio']>0]
final_df = final_df[:50]
final_df.reset_index(inplace=True)
final_df.drop('index',axis=1,inplace=True)
final_df

   Ticker     Price Price-to-Earnings Ratio Number of Shares to Buy
0    APTV   108.960                  259.34                     N/A
1     CRM   189.160                  182.38                     N/A
2    AMZN   143.280                  128.08                     N/A
3     ALB   280.430                  125.79                     N/A
4    ADSK   226.290                  103.13                     N/A
5     ARE   170.740                   89.01                     N/A
6     BSX    42.680                   76.19                     N/A
7    CDNS   195.290                   70.07                     N/A
8    CBOE   127.730                   63.92                     N/A
9     CMG  1711.310                   62.76                     N/A
10   ALXN   183.300                   61.56                     N/A
11   ABMD   270.770                   58.71                     N/A
12   BKNG  2177.610                   55.94                     N/A
13   ANSS   276.030                   54.27                     N/A
14    CCI   188.040                    52.5                     N/A
15   CERN    95.400                   49.48                     N/A
16    ADI   170.000                    47.5                     N/A
17    BDX   273.580                   45.86                     N/A
18    AMT   279.060                   45.79                     N/A
19   BF.B    78.760                   45.04                     N/A
20    ALL   135.600                    44.0                     N/A
21    AMD    97.520                   43.92                     N/A
22   COST   564.810                   43.88                     N/A
23   COTY     7.800                   43.76                     N/A
24   ADBE   432.067                   42.82                     N/A
25   ANET   130.000                    42.0                     N/A
26     BR   183.090                   40.39                     N/A
27    CLX   150.410                   40.25                     N/A
28    AJG   196.300                   39.31                     N/A
29    ADP   264.490                   38.09                     N/A
30     CL    85.360                    37.4                     N/A
31    AVB   217.170                      37                     N/A
32   ALGN   273.840                   35.11                     N/A
33   ATVI    83.940                      34                     N/A
34    COG    23.310                   33.79                     N/A
35    CNC    99.000                   31.71                     N/A
36   CINF   107.340                   31.36                     N/A
37    BAX    63.470                   31.08                     N/A
38    ACN   322.770                    30.8                     N/A
39   CPRT   129.410                   29.81                     N/A
40    CHD    90.100                   29.03                     N/A
41    AME   132.600                   28.75                     N/A
42   AAPL   173.700                   28.73                     N/A
43    ALK    46.700                   28.59                     N/A
44   AVGO   565.580                    28.4                     N/A
45    APH    80.480                    28.2                     N/A
46   AKAM   100.630                   27.64                     N/A
47    APD   275.700                      26                     N/A
48    BMY    75.910                   25.95                     N/A
49    CDW   188.990                   25.81                     N/A

In [10]:
#calculate number of shares to buy
def portfolio_input():
    global portfolio_size
    portfolio_size = input('Enter the size of your portfolio')

portfolio_input()

Enter the size of your portfolio100000000

In [11]:
position_size = float(portfolio_size)/len(final_df)
for i in range(0,len(final_df)):
    final_df.loc[i,'Number of Shares to Buy'] = math.floor(position_size/final_df.loc[i,'Price'])

final_df

   Ticker     Price Price-to-Earnings Ratio Number of Shares to Buy
0    APTV   108.960                  259.34                   18355
1     CRM   189.160                  182.38                   10573
2    AMZN   143.280                  128.08                   13958
3     ALB   280.430                  125.79                    7131
4    ADSK   226.290                  103.13                    8838
5     ARE   170.740                   89.01                   11713
6     BSX    42.680                   76.19                   46860
7    CDNS   195.290                   70.07                   10241
8    CBOE   127.730                   63.92                   15658
9     CMG  1711.310                   62.76                    1168
10   ALXN   183.300                   61.56                   10911
11   ABMD   270.770                   58.71                    7386
12   BKNG  2177.610                   55.94                     918
13   ANSS   276.030                   54.27                    7245
14    CCI   188.040                    52.5                   10636
15   CERN    95.400                   49.48                   20964
16    ADI   170.000                    47.5                   11764
17    BDX   273.580                   45.86                    7310
18    AMT   279.060                   45.79                    7166
19   BF.B    78.760                   45.04                   25393
20    ALL   135.600                    44.0                   14749
21    AMD    97.520                   43.92                   20508
22   COST   564.810                   43.88                    3541
23   COTY     7.800                   43.76                  256410
24   ADBE   432.067                   42.82                    4628
25   ANET   130.000                    42.0                   15384
26     BR   183.090                   40.39                   10923
27    CLX   150.410                   40.25                   13296
28    AJG   196.300                   39.31                   10188
29    ADP   264.490                   38.09                    7561
30     CL    85.360                    37.4                   23430
31    AVB   217.170                      37                    9209
32   ALGN   273.840                   35.11                    7303
33   ATVI    83.940                      34                   23826
34    COG    23.310                   33.79                   85800
35    CNC    99.000                   31.71                   20202
36   CINF   107.340                   31.36                   18632
37    BAX    63.470                   31.08                   31510
38    ACN   322.770                    30.8                    6196
39   CPRT   129.410                   29.81                   15454
40    CHD    90.100                   29.03                   22197
41    AME   132.600                   28.75                   15082
42   AAPL   173.700                   28.73                   11514
43    ALK    46.700                   28.59                   42826
44   AVGO   565.580                    28.4                    3536
45    APH    80.480                    28.2                   24850
46   AKAM   100.630                   27.64                   19874
47    APD   275.700                      26                    7254
48    BMY    75.910                   25.95                   26346
49    CDW   188.990                   25.81                   10582

In [12]:
# #more realistic value strategy
batch_api_call_url = f'https://sandbox.iexapis.com/v1/stock/market/batch?symbols={symbol_string}&types=quote,advanced-stats&token={IEX_CLOUD_API_TOKEN}'
data = requests.get(batch_api_call_url).json()
#     Price-to-earnings ratio
pe_ratio = data[symbol]['quote']['peRatio']
#     Price-to-book ratio
pb_ratio = data[symbol]['advanced-stats']['priceToBook']
#     Price-to-sales ratio
ps_ratio = data[symbol]['advanced-stats']['priceToSales']
#     Enterprise Value divided by Earnings Before Interest, Taxes, Depreciation, and Amortization (EV/EBITDA)
enterprise_value = data[symbol]['advanced-stats']['enterpriseValue']
ebitda = data[symbol]['advanced-stats']['EBITDA']
ev_to_ebitda = enterprise_value/ebitda
#     Enterprise Value divided by Gross Profit (EV/GP)
gross_profit = data[symbol]['advanced-stats']['grossProfit']
ev_to_gross_profit = enterprise_value/gross_profit

In [13]:
#robust value ->rv
rv_columns = [
    'Ticker',
    'Price',
    'Number of Shares to Buy', 
    'Price-to-Earnings Ratio',
    'PE Percentile',
    'Price-to-Book Ratio',
    'PB Percentile',
    'Price-to-Sales Ratio',
    'PS Percentile',
    'EV/EBITDA',
    'EV/EBITDA Percentile',
    'EV/GP',
    'EV/GP Percentile',
    'RV Score'
]

In [16]:
rv_df = pd.DataFrame(columns = rv_columns)
for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/v1/stock/market/batch?symbols={symbol_string}&types=quote,advanced-stats&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        enterprise_value = data[symbol]['advanced-stats']['enterpriseValue']
        ebitda = data[symbol]['advanced-stats']['EBITDA']
        gross_profit = data[symbol]['advanced-stats']['grossProfit']
        
        try:
            ev_to_ebitda = enterprise_value/ebitda
        except TypeError:
            ev_to_ebitda = np.NaN
        
        try:
            ev_to_gross_profit = enterprise_value/gross_profit
        except TypeError:
            ev_to_gross_profit = np.NaN
            
        rv_df = rv_df.append(
            pd.Series([
                symbol,
                data[symbol]['quote']['latestPrice'],
                'N/A',
                data[symbol]['quote']['peRatio'],
                'N/A',
                data[symbol]['advanced-stats']['priceToBook'],
                'N/A',
                data[symbol]['advanced-stats']['priceToSales'],
                'N/A',
                ev_to_ebitda,
                'N/A',
                ev_to_gross_profit,
                'N/A',
                'N/A'
        ],
        index = rv_columns),
            ignore_index = True
        )

rv_df

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,AAL,14.82,N/A,-4.99,N/A,-1.14,N/A,0.2267,N/A,110.683742,N/A,0.836918,N/A,N/A
1,AAP,214.55,N/A,23.23,N/A,4.42,N/A,1.19,N/A,13.191726,N/A,2.850302,N/A,N/A
2,AAPL,176.82,N/A,29.05,N/A,48.18,N/A,7.17,N/A,21.114323,N/A,16.333583,N/A,N/A
3,ABBV,147.28,N/A,20.47,N/A,17.37,N/A,4.54,N/A,11.335113,N/A,7.682539,N/A,N/A
4,ABC,154.08,N/A,17.59,N/A,144.36,N/A,0.139,N/A,9.528835,N/A,3.997570,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,COTY,7.50,N/A,44.35,N/A,1.73,N/A,1.26,N/A,19.955062,N/A,3.147238,N/A,N/A
111,CPB,52.41,N/A,16.87,N/A,4.66,N/A,1.84,N/A,16.596758,N/A,7.730127,N/A,N/A
112,CPRT,130.90,N/A,29.86,N/A,7,N/A,9.42,N/A,20.106922,N/A,10.574305,N/A,N/A
113,CRM,187.30,N/A,188.9,N/A,3.22,N/A,6.68,N/A,49.132603,N/A,9.014702,N/A,N/A
114,CSCO,50.10,N/A,17.15,N/A,5.08,N/A,4.04,N/A,12.739043,N/A,5.917559,N/A,N/A

Missing data

In [17]:
rv_df[rv_df.isnull().any(axis=1)]

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
27,ALXN,183.40,N/A,60.0,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
39,AON,301.58,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
70,BRK.B,299.90,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
87,CERN,97.02,N/A,48.67,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A

In [18]:
rv_df.columns

Index(['Ticker', 'Price', 'Number of Shares to Buy', 'Price-to-Earnings Ratio',
       'PE Percentile', 'Price-to-Book Ratio', 'PB Percentile',
       'Price-to-Sales Ratio', 'PS Percentile', 'EV/EBITDA',
       'EV/EBITDA Percentile', 'EV/GP', 'EV/GP Percentile', 'RV Score'],
      dtype='object')

In [21]:
#replace missing data with avereage of the column of missing data
for column in ['Price-to-Earnings Ratio','Price-to-Book Ratio', 'Price-to-Sales Ratio', 'EV/EBITDA', 'EV/GP']:
    rv_df[column].fillna(rv_df[column].mean(),inplace=True)
rv_df[rv_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [Ticker, Price, Number of Shares to Buy, Price-to-Earnings Ratio, PE Percentile, Price-to-Book Ratio, PB Percentile, Price-to-Sales Ratio, PS Percentile, EV/EBITDA, EV/EBITDA Percentile, EV/GP, EV/GP Percentile, RV Score]
Index: []

In [22]:
#Calculating Percentiles
metrics = {
    'Price-to-Earnings Ratio' : 'PE Percentile',
    'Price-to-Book Ratio' : 'PB Percentile',
    'Price-to-Sales Ratio' : 'PS Percentile',
    'EV/EBITDA' : 'EV/EBITDA Percentile',
    'EV/GP' : 'EV/GP Percentile'
}

for metric in metrics.keys():
    for row in rv_df.index:
        rv_df.loc[row, metrics[metric]] = stats.percentileofscore(rv_df[metric],rv_df.loc[row,metric])

rv_df

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,AAL,14.82,N/A,-4.99,5.217391,-1.14,3.478261,0.2267,2.608696,110.683742,100.0,0.836918,5.217391,N/A
1,AAP,214.55,N/A,23.23,51.304348,4.42,53.043478,1.1900,16.521739,13.191726,38.26087,2.850302,19.130435,N/A
2,AAPL,176.82,N/A,29.05,62.608696,48.18,96.521739,7.1700,82.608696,21.114323,74.782609,16.333583,93.043478,N/A
3,ABBV,147.28,N/A,20.47,42.608696,17.37,88.695652,4.5400,68.695652,11.335113,30.434783,7.682539,50.434783,N/A
4,ABC,154.08,N/A,17.59,37.391304,144.36,99.130435,0.1390,1.73913,9.528835,21.73913,3.997570,25.217391,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,COTY,7.50,N/A,44.35,81.73913,1.73,17.391304,1.2600,18.695652,19.955062,68.695652,3.147238,21.73913,N/A
111,CPB,52.41,N/A,16.87,34.782609,4.66,55.652174,1.8400,31.73913,16.596758,54.782609,7.730127,52.173913,N/A
112,CPRT,130.90,N/A,29.86,64.347826,7.00,68.695652,9.4200,90.434783,20.106922,69.565217,10.574305,77.391304,N/A
113,CRM,187.30,N/A,188.90,99.130435,3.22,40.869565,6.6800,80.869565,49.132603,98.26087,9.014702,67.826087,N/A
114,CSCO,50.10,N/A,17.15,35.652174,5.08,58.26087,4.0400,59.130435,12.739043,36.521739,5.917559,35.652174,N/A

In [26]:
#calculate RV Score
from statistics import mean
for row in rv_df.index:
    value_percentiles=[]
    for metric in metrics.keys():
        value_percentiles.append(rv_df.loc[row, metrics[metric]])
    rv_df.loc[row,'RV Score'] = mean(value_percentiles)
rv_df

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,AAL,14.82,N/A,-4.99,5.217391,-1.14,3.478261,0.2267,2.608696,110.683742,100.0,0.836918,5.217391,23.304348
1,AAP,214.55,N/A,23.23,51.304348,4.42,53.043478,1.1900,16.521739,13.191726,38.26087,2.850302,19.130435,35.652174
2,AAPL,176.82,N/A,29.05,62.608696,48.18,96.521739,7.1700,82.608696,21.114323,74.782609,16.333583,93.043478,81.913043
3,ABBV,147.28,N/A,20.47,42.608696,17.37,88.695652,4.5400,68.695652,11.335113,30.434783,7.682539,50.434783,56.173913
4,ABC,154.08,N/A,17.59,37.391304,144.36,99.130435,0.1390,1.73913,9.528835,21.73913,3.997570,25.217391,37.043478
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,COTY,7.50,N/A,44.35,81.73913,1.73,17.391304,1.2600,18.695652,19.955062,68.695652,3.147238,21.73913,41.652174
111,CPB,52.41,N/A,16.87,34.782609,4.66,55.652174,1.8400,31.73913,16.596758,54.782609,7.730127,52.173913,45.826087
112,CPRT,130.90,N/A,29.86,64.347826,7.00,68.695652,9.4200,90.434783,20.106922,69.565217,10.574305,77.391304,74.086957
113,CRM,187.30,N/A,188.90,99.130435,3.22,40.869565,6.6800,80.869565,49.132603,98.26087,9.014702,67.826087,77.391304
114,CSCO,50.10,N/A,17.15,35.652174,5.08,58.26087,4.0400,59.130435,12.739043,36.521739,5.917559,35.652174,45.043478

In [27]:
rv_df.sort_values('RV Score',ascending=False,inplace=True)

In [31]:
rv_df = rv_df[:50]
rv_df.reset_index(drop=True,inplace=True)
rv_df

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,CDNS,189.400,N/A,69.880000,93.913043,20.040000,90.434783,16.040000,100.0,48.567107,97.391304,17.185371,94.782609,95.304348
1,ADSK,233.620,N/A,104.390000,96.521739,71.360000,98.26087,10.940000,91.304348,61.471334,99.130435,11.731062,80.869565,93.217391
2,AMT,278.890,N/A,46.690000,85.217391,19.150000,89.565217,12.830000,98.26087,27.283909,87.826087,23.475434,99.130435,92.0
3,ADBE,440.486,N/A,42.300000,79.130435,14.710000,87.826087,12.110000,95.652174,32.036622,92.173913,13.668713,85.217391,88.0
4,ABMD,281.650,N/A,58.550000,90.434783,8.370000,74.782609,11.870000,94.782609,39.332941,96.521739,13.074421,81.73913,87.652174
5,CCI,184.050,N/A,51.200000,87.826087,9.950000,76.521739,11.610000,93.043478,25.143048,82.608696,21.363132,97.391304,87.478261
6,ANET,131.000,N/A,40.720000,77.391304,10.190000,78.26087,11.800000,93.913043,30.187151,90.434783,16.901649,93.913043,86.782609
7,ANSS,274.430,N/A,52.700000,88.695652,5.340000,60.434783,12.420000,96.521739,37.953139,93.913043,13.148461,82.608696,84.434783
8,BF.B,80.750,N/A,45.610000,83.478261,13.670000,86.956522,7.340000,83.478261,29.084169,88.695652,10.618631,78.26087,84.173913
9,ALB,282.880,N/A,123.560000,98.26087,5.300000,59.130435,7.700000,86.956522,23.019319,78.26087,23.344275,98.26087,84.173913
10,CMG,1743.580,N/A,64.340000,93.043478,22.590000,93.043478,6.000000,79.565217,38.769485,95.652174,8.131129,56.521739,83.565217
11,AAPL,176.820,N/A,29.050000,62.608696,48.180000,96.521739,7.170000,82.608696,21.114323,74.782609,16.333583,93.043478,81.913043
12,CRM,187.300,N/A,188.900000,99.130435,3.220000,40.869565,6.680000,80.869565,49.132603,98.26087,9.014702,67.826087,77.391304
13,AVB,215.430,N/A,38.000000,73.913043,2.760000,35.652174,12.450000,97.391304,24.584762,80.869565,15.364001,92.173913,76.0
14,ARE,164.110,N/A,89.430000,95.652174,1.630000,13.913043,11.540000,92.173913,24.045496,80.0,21.235498,96.521739,75.652174
15,AMD,98.320,N/A,43.330000,80.0,2.900000,37.826087,7.450000,85.652174,29.787114,89.565217,13.286697,83.478261,75.304348
16,ADP,260.350,N/A,38.730000,74.782609,34.760000,95.652174,6.790000,81.73913,25.620360,85.217391,6.550475,38.26087,75.130435
17,ADI,172.000,N/A,46.500000,84.347826,2.450000,30.434783,8.000000,88.695652,25.237193,84.347826,13.795134,86.086957,74.782609
18,CPRT,130.900,N/A,29.860000,64.347826,7.000000,68.695652,9.420000,90.434783,20.106922,69.565217,10.574305,77.391304,74.086957
19,BR,183.140,N/A,38.920000,75.652174,11.140000,80.869565,3.640000,53.478261,19.890790,67.826087,14.950269,89.565217,73.478261
20,CLX,152.960,N/A,40.750000,78.26087,33.160000,94.782609,2.590000,43.478261,26.692339,86.956522,8.146749,57.391304,72.173913
21,ATVI,80.530,N/A,34.780000,71.304348,3.530000,45.217391,8.360000,89.565217,23.801715,79.130435,10.116306,73.913043,71.826087
22,APTV,107.930,N/A,251.150000,100.0,3.550000,46.086957,1.780000,29.565217,38.697227,94.782609,14.187313,87.826087,71.652174
23,ALXN,183.400,N/A,60.000000,91.304348,12.031339,83.043478,4.141841,63.913043,17.198649,57.826087,8.564211,62.173913,71.652174
24,AVGO,567.830,N/A,28.500000,61.73913,10.700000,79.130435,7.440000,84.347826,15.545739,52.173913,11.041153,80.0,71.478261
25,CERN,97.020,N/A,48.670000,86.956522,12.031339,83.043478,4.141841,63.913043,17.198649,57.826087,8.564211,62.173913,70.782609
26,AMZN,141.100,N/A,122.480000,97.391304,10.880000,80.0,3.000000,47.826087,26.577821,86.086957,6.928746,41.73913,70.608696
27,BKNG,2166.600,N/A,58.130000,89.565217,21.630000,92.173913,5.710000,76.956522,17.843918,61.73913,5.475056,32.173913,70.521739
28,CL,85.540,N/A,37.200000,73.043478,431.070000,100.0,4.050000,60.0,20.908955,73.043478,7.443189,46.086957,70.434783
29,CME,208.790,N/A,25.670000,54.782609,2.680000,34.782609,16.000000,99.130435,21.063063,73.913043,14.915025,88.695652,70.26087
30,BSX,42.700,N/A,76.420000,94.782609,3.520000,44.347826,4.920000,71.304348,25.167705,83.478261,7.995746,55.652174,69.913043
31,APH,80.520,N/A,28.400000,60.869565,7.570000,71.304348,4.070000,60.869565,18.091677,62.608696,13.945171,86.956522,68.521739
32,ACN,329.990,N/A,30.920000,67.391304,10.060000,77.391304,3.640000,53.478261,18.490587,66.086957,10.401864,75.652174,68.0
33,AME,132.200,N/A,28.210000,60.0,4.360000,52.173913,5.000000,72.173913,18.140824,63.478261,15.350829,91.304348,67.826087
34,AWK,160.580,N/A,23.100000,50.434783,3.980000,49.565217,7.880000,87.826087,21.829453,76.521739,10.352520,74.782609,67.826087
35,CHD,93.100,N/A,29.490000,63.478261,6.080000,65.652174,4.120000,61.73913,18.846992,66.956522,10.476978,76.521739,66.869565
36,BRK.B,299.900,N/A,30.183628,65.652174,12.031339,83.043478,4.141841,63.913043,17.198649,57.826087,8.564211,62.173913,66.521739
37,AON,301.580,N/A,30.183628,65.652174,12.031339,83.043478,4.141841,63.913043,17.198649,57.826087,8.564211,62.173913,66.521739
38,COST,563.620,N/A,45.220000,82.608696,12.700000,86.086957,1.170000,15.217391,25.047457,81.73913,8.714796,66.086957,66.347826
39,APD,267.000,N/A,26.700000,57.391304,4.290000,51.304348,5.010000,73.043478,16.073095,53.043478,19.589542,95.652174,66.086957
40,ALGN,270.800,N/A,34.910000,72.173913,6.080000,65.652174,5.380000,74.782609,20.566012,72.173913,7.152928,42.608696,65.478261
41,BDX,266.670,N/A,47.320000,86.086957,3.040000,39.130435,3.840000,58.26087,18.392828,65.217391,10.098563,73.043478,64.347826
42,AMGN,256.190,N/A,22.260000,48.695652,57.810000,97.391304,5.240000,73.913043,13.377321,39.130435,8.541712,60.0,63.826087
43,ALLE,110.600,N/A,21.120000,46.086957,12.180000,85.217391,3.300000,51.304348,17.239267,60.0,9.006418,66.956522,61.913043
44,CBOE,127.920,N/A,63.390000,92.173913,4.180000,50.434783,3.700000,55.217391,13.783796,41.73913,9.341172,69.565217,61.826087
45,AJG,199.600,N/A,38.950000,76.521739,4.630000,54.782609,4.910000,70.434783,21.118118,75.652174,5.010694,31.304348,61.73913
46,COO,333.400,N/A,17.400000,36.521739,2.540000,31.304348,5.710000,76.956522,30.785575,91.304348,9.667390,71.304348,61.478261
47,AIV,9.540,N/A,5.870000,9.565217,1.930000,21.73913,7.450000,85.652174,32.393021,93.043478,13.606627,84.347826,58.869565
48,AKAM,99.690,N/A,28.140000,59.130435,3.700000,46.956522,4.400000,67.826087,20.287100,70.434783,7.574859,48.695652,58.608696
49,ABT,115.020,N/A,23.800000,53.043478,5.530000,62.608696,4.390000,66.956522,16.494920,53.913043,7.641738,49.565217,57.217391

In [32]:
#Calculate number of shares to buy
portfolio_input()

Enter the size of your portfolio2500000

In [34]:
position_size = float(portfolio_size) / len(rv_df.index)

for row in rv_df.index:
    rv_df.loc[row, 'Number of Shares to Buy'] = math.floor(position_size/rv_df.loc[row,'Price'])
rv_df

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,CDNS,189.400,263,69.880000,93.913043,20.040000,90.434783,16.040000,100.0,48.567107,97.391304,17.185371,94.782609,95.304348
1,ADSK,233.620,214,104.390000,96.521739,71.360000,98.26087,10.940000,91.304348,61.471334,99.130435,11.731062,80.869565,93.217391
2,AMT,278.890,179,46.690000,85.217391,19.150000,89.565217,12.830000,98.26087,27.283909,87.826087,23.475434,99.130435,92.0
3,ADBE,440.486,113,42.300000,79.130435,14.710000,87.826087,12.110000,95.652174,32.036622,92.173913,13.668713,85.217391,88.0
4,ABMD,281.650,177,58.550000,90.434783,8.370000,74.782609,11.870000,94.782609,39.332941,96.521739,13.074421,81.73913,87.652174
5,CCI,184.050,271,51.200000,87.826087,9.950000,76.521739,11.610000,93.043478,25.143048,82.608696,21.363132,97.391304,87.478261
6,ANET,131.000,381,40.720000,77.391304,10.190000,78.26087,11.800000,93.913043,30.187151,90.434783,16.901649,93.913043,86.782609
7,ANSS,274.430,182,52.700000,88.695652,5.340000,60.434783,12.420000,96.521739,37.953139,93.913043,13.148461,82.608696,84.434783
8,BF.B,80.750,619,45.610000,83.478261,13.670000,86.956522,7.340000,83.478261,29.084169,88.695652,10.618631,78.26087,84.173913
9,ALB,282.880,176,123.560000,98.26087,5.300000,59.130435,7.700000,86.956522,23.019319,78.26087,23.344275,98.26087,84.173913
10,CMG,1743.580,28,64.340000,93.043478,22.590000,93.043478,6.000000,79.565217,38.769485,95.652174,8.131129,56.521739,83.565217
11,AAPL,176.820,282,29.050000,62.608696,48.180000,96.521739,7.170000,82.608696,21.114323,74.782609,16.333583,93.043478,81.913043
12,CRM,187.300,266,188.900000,99.130435,3.220000,40.869565,6.680000,80.869565,49.132603,98.26087,9.014702,67.826087,77.391304
13,AVB,215.430,232,38.000000,73.913043,2.760000,35.652174,12.450000,97.391304,24.584762,80.869565,15.364001,92.173913,76.0
14,ARE,164.110,304,89.430000,95.652174,1.630000,13.913043,11.540000,92.173913,24.045496,80.0,21.235498,96.521739,75.652174
15,AMD,98.320,508,43.330000,80.0,2.900000,37.826087,7.450000,85.652174,29.787114,89.565217,13.286697,83.478261,75.304348
16,ADP,260.350,192,38.730000,74.782609,34.760000,95.652174,6.790000,81.73913,25.620360,85.217391,6.550475,38.26087,75.130435
17,ADI,172.000,290,46.500000,84.347826,2.450000,30.434783,8.000000,88.695652,25.237193,84.347826,13.795134,86.086957,74.782609
18,CPRT,130.900,381,29.860000,64.347826,7.000000,68.695652,9.420000,90.434783,20.106922,69.565217,10.574305,77.391304,74.086957
19,BR,183.140,273,38.920000,75.652174,11.140000,80.869565,3.640000,53.478261,19.890790,67.826087,14.950269,89.565217,73.478261
20,CLX,152.960,326,40.750000,78.26087,33.160000,94.782609,2.590000,43.478261,26.692339,86.956522,8.146749,57.391304,72.173913
21,ATVI,80.530,620,34.780000,71.304348,3.530000,45.217391,8.360000,89.565217,23.801715,79.130435,10.116306,73.913043,71.826087
22,APTV,107.930,463,251.150000,100.0,3.550000,46.086957,1.780000,29.565217,38.697227,94.782609,14.187313,87.826087,71.652174
23,ALXN,183.400,272,60.000000,91.304348,12.031339,83.043478,4.141841,63.913043,17.198649,57.826087,8.564211,62.173913,71.652174
24,AVGO,567.830,88,28.500000,61.73913,10.700000,79.130435,7.440000,84.347826,15.545739,52.173913,11.041153,80.0,71.478261
25,CERN,97.020,515,48.670000,86.956522,12.031339,83.043478,4.141841,63.913043,17.198649,57.826087,8.564211,62.173913,70.782609
26,AMZN,141.100,354,122.480000,97.391304,10.880000,80.0,3.000000,47.826087,26.577821,86.086957,6.928746,41.73913,70.608696
27,BKNG,2166.600,23,58.130000,89.565217,21.630000,92.173913,5.710000,76.956522,17.843918,61.73913,5.475056,32.173913,70.521739
28,CL,85.540,584,37.200000,73.043478,431.070000,100.0,4.050000,60.0,20.908955,73.043478,7.443189,46.086957,70.434783
29,CME,208.790,239,25.670000,54.782609,2.680000,34.782609,16.000000,99.130435,21.063063,73.913043,14.915025,88.695652,70.26087
30,BSX,42.700,1170,76.420000,94.782609,3.520000,44.347826,4.920000,71.304348,25.167705,83.478261,7.995746,55.652174,69.913043
31,APH,80.520,620,28.400000,60.869565,7.570000,71.304348,4.070000,60.869565,18.091677,62.608696,13.945171,86.956522,68.521739
32,ACN,329.990,151,30.920000,67.391304,10.060000,77.391304,3.640000,53.478261,18.490587,66.086957,10.401864,75.652174,68.0
33,AME,132.200,378,28.210000,60.0,4.360000,52.173913,5.000000,72.173913,18.140824,63.478261,15.350829,91.304348,67.826087
34,AWK,160.580,311,23.100000,50.434783,3.980000,49.565217,7.880000,87.826087,21.829453,76.521739,10.352520,74.782609,67.826087
35,CHD,93.100,537,29.490000,63.478261,6.080000,65.652174,4.120000,61.73913,18.846992,66.956522,10.476978,76.521739,66.869565
36,BRK.B,299.900,166,30.183628,65.652174,12.031339,83.043478,4.141841,63.913043,17.198649,57.826087,8.564211,62.173913,66.521739
37,AON,301.580,165,30.183628,65.652174,12.031339,83.043478,4.141841,63.913043,17.198649,57.826087,8.564211,62.173913,66.521739
38,COST,563.620,88,45.220000,82.608696,12.700000,86.086957,1.170000,15.217391,25.047457,81.73913,8.714796,66.086957,66.347826
39,APD,267.000,187,26.700000,57.391304,4.290000,51.304348,5.010000,73.043478,16.073095,53.043478,19.589542,95.652174,66.086957
40,ALGN,270.800,184,34.910000,72.173913,6.080000,65.652174,5.380000,74.782609,20.566012,72.173913,7.152928,42.608696,65.478261
41,BDX,266.670,187,47.320000,86.086957,3.040000,39.130435,3.840000,58.26087,18.392828,65.217391,10.098563,73.043478,64.347826
42,AMGN,256.190,195,22.260000,48.695652,57.810000,97.391304,5.240000,73.913043,13.377321,39.130435,8.541712,60.0,63.826087
43,ALLE,110.600,452,21.120000,46.086957,12.180000,85.217391,3.300000,51.304348,17.239267,60.0,9.006418,66.956522,61.913043
44,CBOE,127.920,390,63.390000,92.173913,4.180000,50.434783,3.700000,55.217391,13.783796,41.73913,9.341172,69.565217,61.826087
45,AJG,199.600,250,38.950000,76.521739,4.630000,54.782609,4.910000,70.434783,21.118118,75.652174,5.010694,31.304348,61.73913
46,COO,333.400,149,17.400000,36.521739,2.540000,31.304348,5.710000,76.956522,30.785575,91.304348,9.667390,71.304348,61.478261
47,AIV,9.540,5241,5.870000,9.565217,1.930000,21.73913,7.450000,85.652174,32.393021,93.043478,13.606627,84.347826,58.869565
48,AKAM,99.690,501,28.140000,59.130435,3.700000,46.956522,4.400000,67.826087,20.287100,70.434783,7.574859,48.695652,58.608696
49,ABT,115.020,434,23.800000,53.043478,5.530000,62.608696,4.390000,66.956522,16.494920,53.913043,7.641738,49.565217,57.217391

In [35]:
writer = pd.ExcelWriter('value strategy.xlsx',engine = 'xlsxwriter')
rv_df.to_excel(writer, sheet_name='Value Strategy')
writer.save()